<ion-header style="background-color: white; color: black;">
  <div style="width: 100vw; display: flex; align-items: center; justify-content: center; position: relative; padding: 20px;">
    <div style="display:flex; flex-direction: column; align-items: center; position: absolute; left: 10px;">
      <ion-icon style="font-size: 20px;" name="chevron-back-outline" (click)="back()" ></ion-icon> 
    </div>

    <div style="font-size: 30px">
      News Details
    </div>
  </div>
</ion-header>

<ion-content style="--background: white; --color:black;">
  <div style="padding: 20px;">

    <div style="font-weight: bold; display: flex; align-items: center;">
      title
    </div>
    <div style="padding-top: 10px;">
      <img style="object-fit: cover; border-radius: 10px; width: calc( 100vw - 20px - 20px );" src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
    </div>
    <div style="padding-top: 20px;">
      description
    </div>
    <div style="padding-top: 20px;">
      content
    </div>
    <div style="padding-top: 20px;">
      <ion-button style="width: calc( 100% ); display: flex; justify-content: center;" href="#" shape="round">Read More</ion-button>
    </div>

  </div>

</ion-content>
